body {
    color: black;
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.item {
    background-color: #FFF9F8;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.title{
    color: orange;
    font-weight: bold;
    font-size: xxx-large;
    text-shadow: -3px -3px orangered;
}

.subtitle {
    color: lightcoral;
    font-weight: bold;
    font-size: x-large;
    text-shadow: -2px -2px rebeccapurple;
}

.rules {
    background-color: #FFECEB;
    padding: 20px;
    color: lightcoral;
    font-weight: bold;
    border-radius: 10px;
}

input[type=text], input[type=password], input[type=email], textarea{
    width: 95%;
    padding: 10px 20px;
    margin: 4px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #b3b4f1;
    border: 0px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.leftTextAlign {
    text-align: left;
}

.centerTextAlign {
    text-align: center;
}

.links {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

a:link, a:visited {
    background-color: #b3b4f1;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: lightcoral;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 150px;
    resize: none;
}

.adminTable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
}

.adminTable tr:nth-child(even){background-color: #cdcdcd;}
.adminTable tr:nth-child(odd){background-color: #ffffff;}

.description{
    padding-right: 80px;
}

.adminTable tr th, .adminTable tr td{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}




